# .env.example
GEMINI_API_KEY=
NVIDIA_API_KEY_1=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
NVIDIA_API_KEY_2=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
NVIDIA_API_KEY_3=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
OPENROUTER_API_KEY=
